form{
    width: 70%;
    /* background-color: rgb(36, 202, 202); */
    background: linear-gradient(#41f3f3,rgb(5, 125, 141));
    margin: 2%;
    padding: 5%;
    padding-top: 2%;
    border: 5px 5px outset;
    border-radius: 5px;
    color:black;
    box-shadow:  5px 5px hsl(0, 0%, 0%);
}
h3{
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #000000;
}
.content {
    padding:1%;
    margin-right: 2%;
    margin-bottom: 3%;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
input{
    border-radius: 5px;
}

table{
    width: 100%;
}
table td{
    padding: 1% 3%;
}